.searchCard {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 6rem;
}
.searchBarSelect {
    width: 30%;
}
.errorText {
    color: var(--red);
    padding: 0.5rem;
}

@media only screen and (max-width: 500px){
    .searchCard {
        display: flex;
        flex-direction: column;
    }
    .searchBarSelect {
        width: 90%;
    }
}