:root {
    --green: #00FF44;
    --red: #FE2525;
    --blue: #1976d2;
    --orange: #F68D14;
    --gray: #D8D4D4;
    --lightgray: #ECE7E7;
    --white: #fff;
    --white-transparent: rgba(255, 255, 255, 0.5);
    --black: rgb(32, 30, 30);
}
*::-webkit-scrollbar {
    width: 3px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    display: inline-flex;
    color: var(--black);
}
